<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/td/mybatis-3-mapper.dtd">

<mapper namespace="kosta.travel.mappers.blogMapper">

	<select id="blogList" resultType="kosta.travel.domain.BlogVO">
	select * from blog
	</select>

	<insert id="insertBlog">
			insert into blog(
			b_id, b_title, u_name, b_introduction, b_img, u_id)
			values(
			blog_seq.nextval, #{b_title}, #{u_name},#{b_introduction},#{b_img}, #{u_id})	
	</insert>
	
	<select id="detailBlog" resultType="BlogVO">
		select *
		from blog
		where u_id=#{u_id}
	
	</select>
	
	
	<insert id="postingBlog">
			insert into blogpost(
			bp_postnum, u_id, bp_contents, bp_date, bp_img)
			values(
			blogpost_seq.nextval, #{u_id},#{bp_contents}, sysdate ,#{bp_img}
			)
	</insert>
	
	<select id="postBlogList" resultType="BlogPostVO">
	select * 
	from blogpost
	where u_id=#{u_id}
	</select>

	<update id="updateBlog">
		UPDATE blogpost SET b_contents = #{b_contents}, bp_img = #{bp_img} 
		WHERE bp_postnum = #{bp_postnum}
	</update>
	
	<!-- Get a one post -->
	<select id = "postDetail">
	SELECT * FROM blogpost
	WHERE bp_postnum = #{bp_postnum}
	</select>
	
</mapper>