<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/td/mybatis-3-mapper.dtd">

<mapper namespace="kosta.travel.mappers.carpoolMapper">
	<insert id="create">
		insert into car_list(
			c_num,  u_id,  start_point,  dest_point,  way_point,  c_price,
			 c_year,  c_month,  c_date,  c_hour,  c_minute, c_person
		)
		values(
			#{c_num}, #{u_id}, '1', '1', '1', #{c_price}, #{c_year}, #{c_month}, #{c_date}, #{c_hour}, #{c_minute}
	
			, #{c_person}
		)
	</insert>
	
	<select id="listAll" resultType="kosta.travel.domain.CarpoolVO">
		select * from car_list where c_num>0
		order by c_num desc
	</select>
	
	<select id="maxSelect" resultType="integer">
		select max(c_num) from car_list
	</select>
	
	<select id = "read" resultType="kosta.travel.domain.CarpoolVO">
		select c_num,  u_id,  start_point,  dest_point,  way_point,  c_price,
			c_year,  c_month,  c_date,  c_hour,  c_minute, c_person
		from
			car_list
		where c_num=#{c_num}
	</select>
	
	<delete id="delete">
		delete from car_list where c_num = #{c_num}
	</delete>
	
	<update id="update">
		update car_list set c_year =#{c_year},
		 c_month =#{c_month},
		 c_date =#{c_date},
		 c_hour =#{c_hour},
		 c_minute =#{c_minute},
		 c_price =#{c_price},
		 c_person =#{c_person}
		where c_num = #{c_num}
	</update>
	
	<!--  마이페이지 --> 
	<select id="myMakeCarpool" resultType="kosta.travel.domain.CarpoolVO" >
	select * from car_list where u_id=#{u_id} order by c_num desc
	</select> 
	
	<select id="myMakeRequest" resultType="kosta.travel.domain.Carpool_RequestVO">
		select * from car_request where c_num=#{c_num}
		order by cr_num desc
	</select>
	
	<!-- Request -->
	<insert id="createRequest">
	insert into car_request(cr_num, cr_ox, c_num, u_id) VALUES(#{cr_num}, 'x', #{c_num}, #{u_id})
	</insert>
	
	<select id="maxSelectRequest" resultType="integer">
		select max(cr_num) from car_request
	</select>
	

</mapper>